.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("/images/login_background.png");
    background-size: cover;
    background-position: center;
}

.login-form {
    background-color: #294338cc;
    color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}
