<div style="padding: 10px;">

    <header class="header-form">
        <div>
            <span>Configurações > Cadastros Auxiliares > Departamento > Inclusão</span>
            <h3>Inclusão de Departamento</h3>
        </div>
        <div class="navegacao d-flex justify-content-between">
            <div>
                <button [routerLink]="['/departamento-listagem']" class="btn btn-sm btn-add">
                    <i class="fas fa-chevron-left"></i> Voltar</button>
            </div>
            <div>
                <button (click)="limpar()" [disabled]="formulario.disabled" class="ml-10 btn btn-sm btn-clean">
                    <i class="fas fa-broom"></i> Limpar</button>
                @if (formulario.get('id')?.value && isCRUD == "U") {
                <button (click)="cancelar()" class="ml-10 btn btn-sm btn-cancel">
                    <i class="fa-solid fa-xmark"></i> Cancelar</button>
                }
                <button (click)="salvar()" [disabled]="formulario.disabled" class="ml-10 btn btn-sm btn-search">
                    <i class="fas fa-floppy-disk"></i> Salvar</button>
            </div>
        </div>
    </header>

    <section class="formulario">
        <article class="inclusao">
            <h6>Identificação</h6>
            <div class="col" style="padding: 10px;">
                <form [formGroup]="formulario">
                    <div class="col">
                        <label>Descrição*:</label>
                        <div>
                            <input class="form-control" formControlName="descricao"
                                [ngClass]="{ 'is-invalid': hasNotValidated('descricao')}">
                        </div>
                    </div>
                    <div class="col">
                        <label>Situação*:</label>
                        <select class="form-select" formControlName="situacao"
                            [ngClass]="{ 'is-invalid': hasNotValidated('situacao')}">
                            <option [value]="null">Selecione</option>
                            @for (i of enumSituacao; track $index) {
                            <option [value]="i.valor" [label]="i.descricao"></option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </article>
    </section>
</div>