<div style="padding: 10px;">
    <header class="header-form d-flex justify-content-between">
        <div>
            <span>Configurações > Cadastros Auxiliares > Departamento > Listagem</span>
            <h3>Listagem de Departamentos</h3>
        </div>
        <div>
            <button [routerLink]="['/departamento-inclusao']" class="btn btn-sm btn-add w-100">
                <i class="fas fa-plus"></i> Novo Departamento</button>
        </div>
    </header>

    <section class="formulario">
        <article class="tabela">
            <form [formGroup]="formulario">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-4">
                        <input class="form-control" formControlName="descricao" placeholder="Digite a Descrição">
                    </div>
                    <div class="col-2">
                        <select formControlName="situacao" class="form-select">
                            <option [value]="null">Selecione</option>
                            @for (i of enumSituacao; track $index) {
                            <option [value]="i.valor" [label]="i.descricao"></option>
                            }
                        </select>
                    </div>
                    <div class="col-1">
                        <button (click)="filtrar()" class="btn btn-sm btn-search w-100">
                            <i class="fas fa-filter"></i>Filtrar</button>
                    </div>
                    <div class="col-1">
                        <button (click)="limpar()" class="btn btn-sm btn-clean w-100" style="margin-right: 10px;">
                            <i class="fas fa-broom"></i> Limpar</button>
                    </div>
                </div>
            </form>

            <h4>{{lista().length}} departamentos encontrados</h4>

            <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th class="th col center">Situação</th>
                        <th class="th col center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of lista(); track item.id) {
                    <tr>
                        <td> {{ item?.descricao }} </td>
                        <td class="td col w-200">
                            @if(item?.situacao === 'A'){
                            <label class="situacao ativo w-100 text-center"><i class="fas fa-circle-check"></i>
                                Ativo</label>
                            }@else{
                            <label class="situacao inativo w-100 text-center"><i class="fas fa-circle-xmark"></i>
                                Inativo</label>
                            }
                        </td>
                        <td class="td col w-120 center">
                            <a (click)="navigateTo(  '/departamento-inclusao' , item.id)" class="btn btn-sm btn-edit">
                                <i class="fas fa-edit"></i></a>
                            <a (click)="excluir(item.id)" class="btn btn-sm btn-delete">
                                <i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="3">Nenhum departamento encontrado.</td>
                    </tr>
                    }
                </tbody>
            </table>
        </article>
    </section>
</div>