<div style="padding: 10px;">
    <header class="header-form">
        <div>
            <span>Cadastro > Médico > Inclusão</span>
            <h3>Inclusão de Médicos</h3>
        </div>
        @if (isCRUD == 'C') {
        <div class="navegacao d-flex justify-content-between">
            <div>
                <button [routerLink]="['/medico-listagem']" class="btn btn-sm btn-add">Voltar</button>

            </div>
            <div>
                <button (click)="limpar()" class="ml-10 btn btn-sm btn-clean">Limpar</button>
                <button (click)="salvar()" class="ml-10 btn btn-sm btn-search">Salvar</button>
            </div>
        </div>
        }
        @if (isCRUD == "U") {
        <div class="navegacao d-flex justify-content-between">
            <div>
                <button [routerLink]="['/medico-listagem']" class="btn btn-sm btn-add">Voltar</button>

            </div>
            <div>
                <button (click)="cancelar()" class="ml-10 btn btn-sm btn-cancel">cancelar</button>
                <button (click)="salvar()" class="ml-10 btn btn-sm btn-search">Salvar</button>
            </div>
        </div>
        }
        @if (isCRUD == "R") {
        <div class="navegacao d-flex justify-content-between">
            <div>
                <button [routerLink]="['/medico-listagem']" class="btn btn-sm btn-add">Voltar</button>

            </div>
            <div>
                <button (click)="habilitarCampos()" class="btn btn-sm btn-habilitar">Habilitar campos</button>
            </div>
        </div>
        }
    </header>

    <section class="formulario">
        <form [formGroup]="formulario">
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">

                <li [ngbNavItem]="1">
                    <button ngbNavLink>Dados Pessoais</button>
                    <ng-template ngbNavContent>
                        <section class="formulario">
                            <article class="inclusao">
                                <h6>Identificação</h6>
                                <div class="d-flex">
                                    <div class="col-2">
                                        <div
                                            style="border: 1px solid #ddd;padding: 10px; height: 100%; display: flex;justify-content: center; text-align: center;">
                                            <img src="/images/user-unknown.png" style="margin: 10px;">
                                        </div>
                                    </div>
                                    <div class="col" style="padding: 10px;">
                                        <div class="row">
                                            <div class="col">
                                                <label>Nome*:</label>
                                                <input formControlName="nome" class="form-control"
                                                    [ngClass]="{ 'is-invalid': hasNotValidated('nome')}">
                                            </div>
                                            <div class="col-3">
                                                <label>CPF*:</label>
                                                <input formControlName="cpf" mask="000.000.000-00"
                                                    placeholder="000.000.000-00" class="form-control"
                                                    [ngClass]="{ 'is-invalid': hasNotValidated('cpf')}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <label>RG:</label>
                                                <input formControlName="rg" class="form-control">
                                            </div>
                                            <div class="col-3">
                                                <label>Data Nascimento*:</label>
                                                <input formControlName="dataNascimento" type="date" class="form-control"
                                                    [ngClass]="{ 'is-invalid': hasNotValidated('dataNascimento')}">
                                            </div>
                                            <div class="col-3">
                                                <label>Genero:</label>
                                                <select formControlName="genero" class="form-select">
                                                    <option>Selecione</option>
                                                    @for (i of enumGeneros; track $index) {
                                                    <option [value]="i.sigla" [label]="i.descricao">
                                                        }
                                                </select>
                                            </div>
                                            <div class="col-3">
                                                <label>Pais Origem:</label>
                                                <select formControlName="paisOrigem" class="form-select">
                                                    <option [value]="null">Selecione</option>
                                                    @for(p of enumPaises; track $index) {
                                                    <option [value]="p.sigla" [label]="p.descricao">
                                                        }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col">
                                                <label>Email*:</label>
                                                <input formControlName="email" class="form-control"
                                                    [ngClass]="{ 'is-invalid': hasNotValidated('email')}">
                                            </div>
                                            <div class="col-3">
                                                <label>Celular*:</label>
                                                <input formControlName="celular" mask="(00) 00000-0000"
                                                    placeholder="(00) 00000-0000" class="form-control"
                                                    [ngClass]="{ 'is-invalid': hasNotValidated('celular')}">
                                            </div>
                                            <div class="col-3">
                                                <label>Telefone:</label>
                                                <input formControlName="telefone"
                                                    mask="(00) 0000-0000 || (00) 00000-0000"
                                                    placeholder="(00) 0000-0000" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="inclusao">
                                <h6>Dados de Endereço</h6>
                                <div class="row" formGroupName="endereco">
                                    <div class="row">
                                        <div class="col-3">
                                            <label>CEP:</label>
                                            <input formControlName="cep" mask="00000-000" placeholder="00000-000"
                                                class="form-control">
                                        </div>
                                        <div class="col">
                                            <label>Logradouro:</label>
                                            <input formControlName="logradouro" class="form-control">
                                        </div>
                                        <div class="col-2">
                                            <label>Número:</label>
                                            <input formControlName="numero" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label>Bairro:</label>
                                            <input formControlName="bairro" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label>Cidade:</label>
                                            <input formControlName="cidade" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <label>Estado:</label>
                                            <select formControlName="estado" class="form-select">
                                                <option [value]="null">Selecione</option>
                                                @for( e of enumEstados ;track $index) {
                                                <option [value]="e.sigla" [label]="e.descricao">
                                                    }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </ng-template>
                </li>

                <li [ngbNavItem]="2">
                    <button ngbNavLink>Informações Profissionais</button>
                    <ng-template ngbNavContent>
                        <section class="formulario">
                            <article class="inclusao">
                                <div class="row">
                                    <div class="col">
                                        <h6>Formação Principal</h6>
                                        <div class="row">
                                            <div class="row">
                                                <div class="col">
                                                    <label>Sub-Especialidade:</label>
                                                    <select formControlName="subEspecialidade" class="form-select">
                                                        <option>Dentista</option>
                                                        <option>Ortopedista</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <label>CRM*:</label>
                                                    <input formControlName="crm" class="form-control">
                                                </div>
                                                <div class="col-3">
                                                    <label>Estado:</label>
                                                    <select formControlName="crmEstado" class="form-select">
                                                        <option [value]="null">Selecione</option>
                                                        @for( e of enumEstados ;track $index) {
                                                        <option [value]="e.sigla" [label]="e.descricao">
                                                            }
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label>Instituição de Ensino de Graduação:</label>
                                                    <input formControlName="instituicaoGraduacao" class="form-control">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <label>Convênios:</label>
                                                    <input formControlName="nome" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="inclusao">
                                <div class="row">
                                    <div class="col">
                                        <h6>Formação Complementar e títulos</h6>
                                        <div class="row">
                                            <div class="col-3">
                                                <label>Pós Graduação:</label>
                                                <select formControlName="statusPos" class="form-select">
                                                    <option [value]="null">Selecione</option>
                                                    @for (item of enumSituacaoFormacao; track $index) {
                                                    <option [value]="item.id">{{ item.descricao }}</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Instituição de Ensino:</label>
                                                <input formControlName="instituicaoPos" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-3">
                                                <label>Mestrado:</label>
                                                <select formControlName="statusMestrado" class="form-select">
                                                    <option [value]="null">Selecione</option>
                                                    @for (item of enumSituacaoFormacao; track $index) {
                                                    <option [value]="item.id">{{ item.descricao }}</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Instituição de Ensino:</label>
                                                <input formControlName="instituicaoMestrado" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label>Doutorado:</label>
                                                <select formControlName="statusDoutorado" class="form-select">
                                                    <option [value]="null">Selecione</option>
                                                    @for (item of enumSituacaoFormacao; track $index) {
                                                    <option [value]="item.id">{{ item.descricao }}</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Instituição de Ensino:</label>
                                                <input formControlName="instituicaoDoutorado" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </ng-template>
                </li>

                <li [ngbNavItem]="3">
                    <button ngbNavLink>Especialidades</button>
                    <ng-template ngbNavContent>
                        <section class="formulario">
                            <article class="inclusao">
                                <div class="row">
                                    <h6>Especialidades do médico</h6>
                                    <div class="col">
                                        <div class="row">
                                            <label>Adicionar Especialidade:</label>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-6">
                                                    <select formControlName="especialidade" class="form-select">
                                                        <option [value]="null">Selecione</option>
                                                        <option *ngFor="let e of listaEspecialidades" [value]="e.id">
                                                            {{e.id}} - {{e.descricao }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <button (click)="adicionarEspecialidade()"
                                                        class="btn btn-sm btn-add" [disabled]="formulario.disabled">
                                                        <i class="fas fa-plus"></i> Adicionar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <table class="table table-striped table-bordered mt-2">
                                            <thead>
                                                <tr>
                                                    <th>Especialidade</th>
                                                    <th>Especialidade Principal</th>
                                                    <th>Situação</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="medicoEspecialidades">
                                                @for (item of medicoEspecialidades.controls; track item; let i = $index)
                                                {
                                                <tr [formGroupName]="i">
                                                    <td>
                                                        <div formGroupName="especialidade" style="width: 100%;"
                                                            class="d-flex">
                                                            <input formControlName="id" class="form-control"
                                                                style="width: 10%;" readonly>
                                                            <input formControlName="descricao" class="form-control"
                                                                style="width: 100%;" readonly>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @if (item.get('principal')?.value) {
                                                        <div class="choose main">
                                                            Principal
                                                        </div>
                                                        } @else {
                                                        <button type="button" class="choose other"
                                                            [disabled]="formulario.disabled"
                                                            (click)="definirPrincipal(i)">
                                                            Definir como principal
                                                        </button>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if(item.get('situacao')?.value){
                                                        <button type="button" class="choose active"
                                                            [disabled]="formulario.disabled"
                                                            (click)="definirSituacao(i)">
                                                            <span class="choose active"> Ativo </span>

                                                        </button>
                                                        } @else {
                                                        <button type="button" class="choose inactive"
                                                            [disabled]="formulario.disabled"
                                                            (click)="definirSituacao(i)">
                                                            Inativo
                                                        </button>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a (click)="removerEspecialidade(i)"
                                                            [hidden]="formulario.disabled "
                                                            class="btn btn-sm btn-delete">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </ng-template>
                </li>

                <li [ngbNavItem]="4">
                    <button ngbNavLink>Configurações de Agenda</button>
                    <ng-template ngbNavContent>
                        <section class="formulario">
                            <article class="inclusao">Agenda
                            </article>
                        </section>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </form>
    </section>
</div>