.template-default {
    display: flex;
    font-family: "arial", "times new roman";
    font-size: 16px;

    .navigation {
        width: 250px;
        transition: width 1.3s ease;
        .logo-clinic {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--background-primary);
        }
        .nav {
            .title {
                font-size: 14px;
                font-weight: bold;
                color: var(--background-primary);
                margin-left: 10px;
                margin-top: 15px;
            }

            .nav-item {
                :hover {
                    background: var(--background-primary);
                    color: white !important;
                }
            }
        }

        .nav-logo {
            // background: var(--background-primary);
            // display: flex;
            // justify-content: left;
            // align-items: start;

            // width: 100%;
            // height: 40px;

            color: #777;
            font-weight: bold;
        }
    }

    .content-full {
        width: 100%;
        height: 100vh;
        background: #ccc;
        flex-grow: 1;

        .content-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;

            height: 40px;
            background-color: rgb(33, 107, 160);
            color: white;
            text-align: right;

            .hambueguer-logo {
                display: flex;
                align-items: center;
            }

            .hamburguer-menu {
                margin-right: 10px;
                font-size: 20px;
                color: #fff;
                cursor: pointer;
                :hover {
                    color: #ddd;
                }
            }
            .content-header-right {
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }

        .content-main {
            background: var(--background-form);
            padding: 10px;
            font-size: 15px;
            .content-page {
                background: white;
                height: calc(100vh - 40px - 10px - 10px);
                overflow-y: scroll;
            }
        }
    }
}

.dropend .dropdown-item::after {
    display: inline-block;
    margin-left: auto;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.img-foto {
    border-radius: 50px;
    color: white;
    background: white;
}

input.is-invalid {
    border: 2px solid #dc3545;
    outline: none;
}

.font-13 {
    font-size: 13px;
}

.font-15 {
    font-size: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.w-100 {
    width: 100%;
}

.arrow {
    font-size: 0.8rem;
    transition: transform 0.2s ease;
}

.arrow.open {
    transform: rotate(-180deg);
}
