<div class="template-default">
    @if (isInvisibleMenu) {
    <aside class="navigation">
        <div class="nav-logo">
            <span>Clínica Médica</span>
        </div>

        <ul class="nav-bar">
            <li>
                <a [routerLink]="['/dashboard']"> <i class="fa-solid fa-home"></i> Dashboard </a>
            </li>
            <li>
                <a [routerLink]="['/medico-listagem']"><i class="fa-solid fa-user-doctor"></i> Médicos </a>
            </li>
        </ul>
    </aside>
    }
    <main class="content-full">
        <header class="content-header">
            <a (click)="toggleMenu()" class="hamburguer-menu">
                <i class="fa-solid fa-bars" aria-hidden="true"></i>
            </a>
            <div class="content-header-right">
                <img src="/images/user-unknown.png" alt="Foto" width="35" class="img-foto mr-10">
                <span class="font-13">Drª Alice Carvalho</span>
            </div>
        </header>
        <section class="content-main">
            <section class="content-page">
                <router-outlet />
            </section>
        </section>
    </main>
</div>