<div class="template-default">
    @if (isInvisibleMenu) {
    <aside class="navigation">
        <div class="nav-logo">
            <span>Clínica Médica</span>
        </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/dashboard']">
                    <i class="fas fa-house"></i> Dashboard</a>
            </li>

            <!-- Item Lateral Expansível (Ajustado para abrir para o lado ou para baixo) -->
            <li class="nav-item">
                <a class="nav-link text-dark d-flex justify-content-between align-items-center" role="button"
                    (click)="isCadastrosCollapse = !isCadastrosCollapse" [attr.aria-expanded]="!isCadastrosCollapse"
                    aria-controls="subMeuCadastros">
                    <span> <i class="fa-solid fa-address-card"></i> Cadastros</span>
                    <span class="arrow" [class.open]="!isCadastrosCollapse">▼</span>
                </a>

                <div id="subMeuCadastros" [ngbCollapse]="isCadastrosCollapse">
                    <ul class="nav flex-column ps-3 small">
                        <li class="nav-item">
                            <a [routerLink]="['/funcionario-listagem']" class="dropdown-item nav-link text-secondary">
                                <i class="fa-solid fa-id-card"></i> Funcionários</a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/paciente-listagem']" class="dropdown-item nav-link text-secondary">
                                <i class="fa-solid fa-user-injured"></i> Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/especialidade-listagem']" class="dropdown-item nav-link text-secondary">
                                <i class="fa-solid fa-stethoscope"></i> Especialidades</a>
                        </li>
                        <li class="nav-item">
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/convenio-listagem']" class="dropdown-item nav-link text-secondary">
                                <i class="fa-solid fa-hand-holding-heart"></i> Convênio</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark d-flex justify-content-between align-items-center" role="button"
                    (click)="isRelatoriosCollapse = !isRelatoriosCollapse" [attr.aria-expanded]="!isRelatoriosCollapse"
                    aria-controls="subMeuRelatorios">
                    <span> <i class="fa-solid fa-address-card"></i> Relatórios</span>
                    <span class="arrow" [class.open]="!isRelatoriosCollapse">▼</span>
                </a>
                <div id="subMeuRelatorios" [ngbCollapse]="isRelatoriosCollapse">
                    <ul class="nav flex-column ps-3 small">
                        <li class="nav-item">
                            <a class="dropdown-item nav-link text-secondary">
                                <i class="fa-solid fa-id-card"></i> Atendimentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item nav-link text-secondary">
                                <i class="fa-solid fa-id-card"></i> Pacientes</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/acesso-listagem']" class="nav-link text-dark">
                    <i class="fa-solid fa-user-shield"></i> Acessos</a>

            </li>
        </ul>
    </aside>
    }
    <main class="content-full">
        <header class="content-header">
            <a (click)="toggleMenu()" class="hamburguer-menu">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="content-header-right">
                <img src="/images/user-unknown.png" alt="Foto" width="35" class="img-foto mr-10">
                <span class=""></span>

                <div ngbDropdown [autoClose]="'outside'" class="d-inline-block">
                    <button style="background: transparent;" type="button" class="font-15 btn btn-primary"
                        ngbDropdownToggle>
                        Drª Alice Carvalho
                    </button>

                    <div ngbDropdownMenu>
                        <label class="font-15" style="width: 100%; text-align: center;">Versão: 1.0.0</label>
                        <button (click)="logout()" style="width: 100%;" class="btn btn-sm btn-danger">Logout</button>
                    </div>
                </div>
            </div>
        </header>
        <section class="content-main">
            <section class="content-page">
                <app-alert-component />
                <router-outlet />
            </section>
        </section>
    </main>
</div>