<div class="template-default">
    @if (isInvisibleMenu) {
    <aside class="navigation">
        <div class="nav-logo">
            <span>Clínica Médica</span>
        </div>

        <ul class="nav-bar">
            <li>
                <a [routerLink]="['/dashboard']"> <i class="fa-solid fa-home"></i> Dashboard </a>
            </li>
            <li>
                <a [routerLink]="['/medico-listagem']"><i class="fa-solid fa-user-doctor"></i> Médicos </a>
            </li>
            <li>
                <a [routerLink]="['/funcionario-listagem']"><i class="fa-solid fa-user-doctor"></i>Funcionários</a>
            </li>
            <li>
                <a [routerLink]="['/paciente-listagem']"><i class="fa-solid fa-user"></i>Pacientes</a>
            </li>
            <li>
                <a [routerLink]="['/especialidade-listagem']"><i class="fa-solid fa-stethoscope"></i>Especialidades</a>
            </li>
        </ul>
    </aside>
    }
    <main class="content-full">
        <header class="content-header">
            <a (click)="toggleMenu()" class="hamburguer-menu">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="content-header-right">
                <img src="/images/user-unknown.png" alt="Foto" width="35" class="img-foto mr-10">
                <span class=""></span>

                <div ngbDropdown [autoClose]="'outside'" class="d-inline-block">
                    <button style="background: transparent;" type="button" class="font-15 btn btn-primary"
                        ngbDropdownToggle>
                        Drª Alice Carvalho
                    </button>

                    <div ngbDropdownMenu>
                        <label class="font-15" style="width: 100%; text-align: center;">Versão: 1.0.0</label>
                        <button (click)="logout()" style="width: 100%;" class="btn btn-sm btn-danger">Logout</button>
                    </div>
                </div>
            </div>
        </header>
        <section class="content-main">
            <section class="content-page">
                <app-alert-component />
                <router-outlet />
            </section>
        </section>
    </main>
</div>