<div style="padding: 10px;">
    <header class="header-form">
        <div>
            <span>Cadastro > Especialidade > Inclusão</span>
            <h3>Inclusão de Especialidades</h3>
        </div>
        <div class="navegacao d-flex justify-content-between">
            <div>
                <button [routerLink]="['/especialidade-listagem']" class="btn btn-sm btn-add">Voltar</button>

            </div>
            <div>
                @if (isCRUD == 'C') {
                <button (click)="limpar()" class="ml-10 btn btn-sm btn-clean">Limpar</button>
                }
                @if (isCRUD == "U") {
                <button (click)="cancelar()" class="ml-10 btn btn-sm btn-cancel">cancelar</button>
                }
                @if (isCRUD == 'C' || isCRUD == "U") {
                <button (click)="salvar()" class="ml-10 btn btn-sm btn-search">Salvar</button>
                }
            </div>
        </div>
    </header>

    <section class="formulario">
        <form [formGroup]="formulario">
            <section class="formulario">
                <article class="inclusao">
                    <h6>Identificação</h6>
                    <div class="col" style="padding: 10px;">
                        <div class="row">
                            <div class="col">
                                <label>Descrição*:</label>
                                <input formControlName="descricao" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasNotValidated('descricao')}">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label>CBO:</label>
                                <input formControlName="cbo" class="form-control" placeholder="0000-00" mask="9999-99"
                                    [ngClass]="{ 'is-invalid': hasNotValidated('cbo')}">
                            </div>
                            <div class="col">
                                <label>TISS:</label>
                                <input formControlName="tiss" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasNotValidated('tiss')}">
                            </div>
                            <div class="col">
                                <label>Status:</label>
                                <select formControlName="situacao"
                                    [ngClass]="{ 'is-invalid': hasNotValidated('situacao')}" class="form-select">
                                    @for(b of enumSituacao ;track $index ) {
                                    <option [value]="b.valor" [label]="b.descricao">
                                        }
                                </select>
                            </div>
                        </div>
                    </div>

                </article>
            </section>
        </form>
    </section>
</div>