@use "bootstrap/scss/bootstrap";
:root {
    --background-form: #ebf0f4;
    --background-nav-action: #ebf0f4;
    --background-primary: rgb(33, 107, 160);
}

* {
    margin: 0;
    padding: 0;
    //   box-sizing: border-box;
}
.header-form {
    .navegacao {
        background: var(--background-nav-action);
    }
}

.formulario {
    margin-top: 10px;
    .pesquisa {
        padding: 10px;
        background: var(--background-form);
    }
    .tabela {
        margin-top: 10px;
        padding: 10px;
        background: var(--background-form);
    }
    .inclusao {
        margin-top: 10px;
        padding: 10px;
        background: var(--background-form);
    }
    .listagem {
        padding: 10px;
        background: var(--background-form);
    }
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.btn {
    &.btn-sm {
        &.btn-search {
            background: rgb(75, 150, 75);
            color: white;
            &:hover {
                background: rgb(125, 175, 125);
                color: white;
            }
        }

        &.btn-add {
            background: rgb(75, 125, 175);
            color: white;
            &:hover {
                background: rgb(125, 175, 200);
                color: white;
            }
        }

        &.btn-habilitar {
            background: rgb(75, 125, 175);
            color: white;
            &:hover {
                background: rgb(125, 175, 200);
                color: white;
            }
        }

        &.btn-clean {
            background: rgb(200, 200, 200);
            color: black;
            &:hover {
                background: rgb(255, 255, 255);
                color: black;
            }
        }

        &.btn-cancel {
            background: rgb(175, 75, 75);
            color: white;
            &:hover {
                background: rgb(200, 115, 115);
                color: white;
            }
        }

        &.btn-delete {
            color: rgb(175, 75, 75);
            &:hover {
                background: rgb(249, 237, 237);
                color: rgb(200, 115, 115);
            }
        }
    }
}

.situacao {
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;

    &.ativo {
        background: #a0ebb5;
        color: #1d6236;
    }
    &.inativo {
        background: #ebecf0;
        color: #575f79;
    }
    &.principal {
        background: #a0ebb5;
        color: #1d6236;
    }
    &.outro {
        background: #f1f5bd;
        color: #575f79;
    }
}

.th,
.td {
    &.col {
        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
        &.right {
            text-align: right;
        }

        &.w-90 {
            width: 90px;
        }
        &.w-100 {
            width: 100px;
        }
        &.w-120 {
            width: 120px;
        }
        &.w-150 {
            width: 150px;
        }
        &.w-200 {
            width: 200px;
        }
    }
}
.list-group {
    .list-group-item {
        .list-group-item-action {
            &:hover {
                background: var(--background-primary);
                color: white;
            }
        }
        &.active {
            border: 2px solid var(--background-primary);
            background: var(--background-primary);
        }
    }
}
.fas {
    &.fa-edit {
        color: rgb(51, 106, 145);
        &:hover {
            color: rgb(111, 132, 148);
        }
    }
    &.fa-trash {
        color: rgb(174, 44, 44);
        &:hover {
            color: rgb(171, 120, 120);
        }
    }
}
