@use "bootstrap/scss/bootstrap";
:root {
    --background-form: #ebf0f4;
    --background-nav-action: #ebf0f4;
}

* {
    margin: 0;
    padding: 0;
    //   box-sizing: border-box;
}
.header-form {
    .navegacao {
        background: var(--background-nav-action);
    }
}

.formulario {
    margin-top: 10px;
    .pesquisa {
        padding: 10px;
        background: var(--background-form);
    }
    .tabela {
        margin-top: 10px;
        padding: 10px;
        background: var(--background-form);
    }
    .inclusao {
        margin-top: 10px;
        padding: 10px;
        background: var(--background-form);
    }
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.btn {
    &.btn-sm {
        &.btn-search {
            background: rgb(75, 150, 75);
            color: white;
            &:hover {
                background: rgb(125, 175, 125);
                color: white;
            }
        }

        &.btn-add {
            background: rgb(75, 125, 175);
            color: white;
            &:hover {
                background: rgb(125, 175, 200);
                color: white;
            }
        }

        &.btn-habilitar {
            background: rgb(75, 125, 175);
            color: white;
            &:hover {
                background: rgb(125, 175, 200);
                color: white;
            }
        }

        &.btn-clean {
            background: rgb(200, 200, 200);
            color: black;
            &:hover {
                background: rgb(255, 255, 255);
                color: black;
            }
        }

        &.btn-cancel {
            background: rgb(175, 75, 75);
            color: white;
            &:hover {
                background: rgb(200, 100, 100);
                color: white;
            }
        }
    }
}

.situacao {
    padding: 5px 15px;
    border-radius: 5px;
    &.ativo {
        background: #e9f7ee;
        color: #76b38c;
    }
    &.inativo {
        color: #575f79;
        background: #ebecf0;
    }
}
