<div style="padding: 10px;">
    <header class="header-form d-flex justify-content-between">
        <div>
            <span>Cadastro > Convênio > Listagem</span>
            <h3>Listagem de Convênios</h3>
        </div>
        <div>
            <button [routerLink]="['/convenio-inclusao']" class="btn btn-sm btn-add w-100">
                <i class="fas fa-plus"></i> Novo Convênio</button>
        </div>
    </header>

    <section class="formulario">
        <form [formGroup]="formulario">
            <article class="tabela">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-4">
                        <input placeholder="Digite a descrição..." formControlName="descricao" class="form-control">
                    </div>
                    <div class="col-2">
                        <select formControlName="situacao" class="form-select">
                            <option [value]="null">Selecione</option>
                            @for (item of enumSituacao; track $index) {
                            <option [value]="item.valor">{{ item.descricao }}</option>
                            }
                        </select>
                    </div>
                    <div class="col-1">
                        <button (click)="filtrar()" class="btn btn-sm btn-search w-100">
                            <i class="fas fa-filter"></i> Filtrar</button>
                    </div>
                    <div class="col-1">
                        <button (click)="limpar()" class="btn btn-sm btn-clean w-100" style="margin-right: 10px;">
                            <i class="fas fa-broom"></i> Limpar</button>
                    </div>
                </div>

                <h4>{{lista().length}} convenios encontradas</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Descrição do Convênio </th>
                            <th> Situação </th>
                            <th> Ação </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (obj of lista() ; track obj.id) {
                        <tr>
                            <td> {{obj.descricao}} </td>
                            <td>
                                @if(obj?.situacao == 'A'){
                                <label class="situacao ativo w-100 text-center"><i class="fas fa-circle-check"></i>
                                    Ativo</label>
                                }@else{
                                <label class="situacao inativo w-100 text-center"><i class="fas fa-circle-xmark"></i>
                                    Inativo</label>
                                }
                            </td>
                            <td style="width: 90px;">
                                <a (click)="navigateTo(  '/convenio-inclusao' , obj.id)" class="btn btn-sm btn-edit">
                                    <i class="fas fa-edit"></i></a>
                                <a (click)="excluir(obj.id)" class="btn btn-sm btn-delete">
                                    <i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        } @empty {
                        <tr>
                            <td colspan="3">Nenhum convênio encontrado.</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </article>
        </form>
    </section>
</div>